@charset "utf-8";
/* CSS Document */

/*云储存*/
table tr th{
	text-align: center;
}

.my-content {
	width: 100%;
}

.my-maintle {
	font-size: 1.4rem;
	padding: 10px;
	color: #333333;
}

.my-maintlefont {
	font-size: 1rem;
}

.my-maintlefont span {
	padding: 3px 8px;
	color: #198eff;
	background-color: #FFFFFF;
}

.active-mainfont {
	color: #FFFFFF !important;
	background-color: #198eff !important;
}

.my-dowload {
	float: right;
	display: inline-block;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	border: 1px solid #f0f0f0;
	text-align: center;
	padding: 0 !important;
	margin-top: -15px;
}

.my-dowload img {
	margin-top: 5px;
}

.pve-main {
	background-color: #FFFFFF;
	margin-top: 10px;
	padding: 10px 0px;
}

.pev-tlep {
	border-left: 5px solid #1890ff;
	line-height: 20px;
	font-size: 1.2rem;
	text-indent: 1.2rem;
	letter-spacing: 1px;
	display: inline-block;
	
	
}

.pve-mianinfo {
	padding: 5px 1.2rem;
}

.pve-mianinfo font {
	margin-right: 1.5rem;
	color: #323232 !important;
}

.pve-mianinfo font span {
	color: #989898;
}

.pve-listbox {
	background-color: #FFFFFF;
	margin-top: 10px;
	padding: 10px 0px;
}

.pve-listfont {
	font-size: 1rem;
	margin-left: 1.5rem;
}

.pevlist-select {
	width: 150px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border-radius: 3px;
	color: #b0b0b0;
	outline: none;
	border: 1px solid #ececec !important;
}

.pve-search {
	border: 1px solid #ececec;
	color: #333333;
	display: inline-block;
	padding: 0px 10px;
	height: 25px;
	line-height: 25px;
	border-radius: 3px;
	margin-left: 1.2rem;
}

.pve-table {
	padding: 20px 0px;
}

.pve-tabletltle {
	text-align: center;
	color: #313131;
	font-size: 1.1rem;
}

.my-pvelist-table tr td {
	text-align: center;
}

.my-hdfslist-table tr td {
	width: 25%;
	text-align: center;
}

.pve-tablenum {
	background-color: #2bb673;
	color: #FFFFFF;
	padding: 3px 10px;
}

.pve-tabletack {
	padding: 2px 5px;
	border: 1px solid #ececec;
	border-radius: 3px;
	font-size: 1rem;
	color: #999999;
	margin: 0px 5px;
}

.active-tabletack {
	color: white;
	background-color: #1890ff;
	border: 1px solid #1890ff;
}

.pve-pageinfo {
	display: flex;
	padding: 0px 1.2rem;
	padding-bottom: 20px;
}

.pageshow-left {
	width: 100%;
	color: #a9a9a9;
	letter-spacing: 1px;
}

.pageshow-right {
	width: 100%;
	color: #333333;
	text-align: right;
}

.pageshow-right .pagination {
	margin: 0 !important;
}

.pageshow-right .pagination>li>a {
	padding: 0px 8px;
	margin-left: 8px;
	color: #333333;
}

.pageshow-right .pagination .active a {
	color: white !important;
}

.pageshow-right .pagination li {
	margin: 0px 3px !important;
}

.pageshow-right .pagination>li:first-child>a,
.pageshow-right .pagination>li:last-child>a {
	border-radius: 0px !important;
}

.page-href input {
	width: 30px;
	height: 20px;
	text-align: center;
	margin: 0px 5px;
}

.page-hrefbtn {
	display: inline-block;
	height: 20px;
	padding: 0px 5px;
	margin: 0px 5px;
	border: 1px solid #ececec;
	color: #333333;
}

#myTabContent {
	height: 120px;
}

#myTabContent p{
	color:#999999;
	
}
/**/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff !important;
    cursor: default;
    background-color: #1890ff !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
/*.nav-tabs {
    border-bottom: 0px solid #ddd !important;
}*/
.btn-info{
	padding: 5px 10px;
	background-color: #b9b9b9;
}
.btn-info:hover{
	padding: 5px 10px;
	background-color: #b9b9b9;
}
.btn-danger{
	padding: 5px 10px;
}
.btn-warning{
	padding: 5px 10px;
}
/**/
.my-maintle strong{
	font-size: 16px;
}
/*分页按钮*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #3fa1fa;
    border-color: #3fa1fa;
}
/*选择*/
.btn-primary {
    color: #fff;
    background-color: #3fa1fa;
    border-color: #3fa1fa;
}
tbody td{
	color: #999999;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 4px 8px;
}
.annnys{
	float: right;
}
